<div>
    <a href=""><img src="../../../assets/Images/github-logo-7880D80B8D-seeklogo.com.png" alt=""></a>
    <a href=""><img src="../../../assets/Images/1051333.png" alt=""></a>
    <a href=""><img src="../../../assets/Images/social-media-whatsapp-black-logo-mobile-app-icon-free-free-vector.jpg" alt=""></a>
    <a href=""><img src="../../../assets/Images/TELEG.png" alt=""></a>
    <a href=""><img src="../../../assets/Images/inta i.png" alt=""></a>
    <a href=""><img src="../../../assets/Images/face.png" alt=""></a>
</div>
